<template lang="pug">
    v-container.green.d-flex.py-12
        v-row
            v-col.blue.col-6 Text
            v-col.white.col-6
                v-form(ref="form" v-model="valid")
                    v-text-field(v-model="username" :rules="usernameRules" label="username" required)
                    v-text-field(v-model="password" :rules="passwordRules" label="password" required)
                    v-checkbox(v-model="rememberMe" label="Remember Me")
                    v-row
                        v-spacer
                        v-btn.mr-6(text :loading="loggedLoading" @click="fetchLogged") Fetch Logged
                        v-btn.mr-6(text :loading="formLoading" @click="submitForm") Submit
</template>

<script>
    export default {
        name: "login.vue",
        data() {
            return {
                valid: false,
                formLoading: false,
                loggedLoading: false,
                rememberMe: false,
                username: '',
                usernameRules: [
                    value => !!value || 'Username is required'
                ],
                password: '',
                passwordRules: [
                    value => !!value || 'Password is required'
                ]
            }
        },
        methods: {
            validate() {
                return this.$refs.form.validate()
            },
            reset() {
                this.$refs.form.reset()
            },
            resetValidation() {
                this.$refs.form.resetValidation()
            },
            submitForm() {
                console.log("Entered Submit function")
                if (this.validate()) {
                    this.formLoading = true
                    console.log('Submitting Something')
                    const loginForm = {username: this.username, password: this.password, rememberMe: this.rememberMe}
                    this.$axios.post('https://adf6921d.ngrok.io/producer/alpha/auth/login', loginForm, {
                        withCredentials: true
                    })
                        .then((res) => {
                            console.log(res.data)
                            this.formLoading = false
                        })
                        .catch(error => {
                            console.log(error)
                            this.formLoading = false
                        })
                }
            },
            fetchLogged() {
                console.log('Fetching Logged user')
                this.$axios.get('https://adf6921d.ngrok.io/producer/alpha/auth/logged', {
                    withCredentials: true
                })

                    .then((res) => {
                        console.log(res.data)
                        this.loggedLoading = false
                    })
                    .catch(error => {
                        console.log(error)
                        this.loggedLoading = false
                    })
            }
        },
    }
</script>

<style lang="scss">


</style>
