<template lang="pug">
section.category
    v-container 
        h2.font-weight-light.mt-8
            template(v-if="!categories.length")
                v-skeleton-loader(
                    transition="scale-transition" 
                    type="heading" 
                    width="300"
                )

            template(v-else) {{heading}}

        v-row
            template(v-if="!categories.length")
                v-col(
                    v-for="s in [1,2,3,4,5,6]" 
                    :key="s"
                    cols="6" sm="6" md="4" lg="4" xl="4"
                )
                    v-skeleton-loader(
                        transition="scale-transition" 
                        type="image" 
                        width="100%" 
                        height="100%"
                    )

            template(v-else)
                v-col(
                    v-for="category in categories" 
                    :key="category.name"
                    cols="6" sm="6" md="4" lg="4" xl="4"
                )
                    v-card#category-card(
                        height="250"
                        :color="category.color"
                        :to="{name: 'category-listing-id', params: {id: category.id}}"
                        :img="category.imgUrl"
                    )
                        v-container#category-container.d-flex.justify-center.align-center(
                            :style="{color: category.color, height: '100%'}"
                        )
                            h2#category-title.font-weight-light.text-uppercase {{category.name}}
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      heading: 'Explore by Category',
    };
  },
  computed: mapState({
    categories: (state) => state.posts.categories,
  }),
};
</script>

<style lang="scss" scoped>
#category-container {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    transition: all 1s ease-out;
  }

  &:hover {
    &:after {
      opacity: 0.1;
    }
  }
}

#category-card:hover #category-title {
  color: currentColor;
}

#category-title {
  transition: all 1s;
  z-index: 2;
  color: beige;
}

.v-card-title {
  font-size: 6rem !important;
}
</style>
