<template lang="pug">
 section.posts
    v-container.mt-4.mt-md-5.mt-lg-7.mt-xl-9(fluid)
      h2.text-center.font-weight-light.mb-6
        template(v-if="!posts.length")
          v-skeleton-loader.mx-auto(
            transition="scale-transition"
            type="heading"
            width="300"
          )
        template(v-else) {{heading}}
      .d-flex.justify-center.align-center
        v-row.justify-space-between.mx-lg-0.mx-xl-0(style="max-width: 80rem")
          template(v-if="!posts.length")
            v-skeleton-loader.mx-auto(
              transition="scale-transition"
              v-for="l in [1,2,3]"
              :key="l"
              ref="skeleton"
              type="article"
              width="350"
            )
          template(v-else)
            v-col(
              v-for="post in posts" 
              :key="post.title" 
              cols="12" sm="6" md="4" lg="4" xl="4"
              )
              v-card.pa-5.background(shaped)
                v-card(flat :to="{name: 'post-view', params: {id: post.id}}")
                  h3.font-weight-regular.pb-3.post-title(:class="`${post.category.color}--text`").
                    {{post.title}}
                  p {{post.body | truncate }}

                  v-divider
                  v-card-actions
                    span {{post.date}}
                    v-spacer
                    v-btn(icon color="red")
                      v-icon mdi-heart
                    v-btn(icon)
                      v-icon mdi-share   
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      heading: 'Recent Posted',
    };
  },

  computed: mapState({
    posts: (state) => state.posts.posts,
  }),
};
</script>

<style lang="scss" scoped>
.background {
  background-color: rgba(beige, 0.2) !important;
}

.post-title {
  font-size: 1.4rem;
}
</style>
