<template lang="pug">
header(
    class="header primary-font"
    :style="headerStyle"
    )
    v-container(fluid class="container pa-lg-4" :style="{minHeight: headerHeight}")
      v-row(justify="center" align="stretch" style="min-height: 60vh")
        v-col(
          cols="12"
          xs="12"
          sm="12"
          md="6"
          lg="5"
          xl="5"
          class="d-flex flex-grow-0 flex-shrink-0 justify-center justify-sm-center justify-lg-end justify-xl-end align-center"
        )
          aside.pl-5.mt-12.mt-sm-12.dim-box(style="max-width: 35rem")
            h1.font-weight-light.display-1.my-6 DISCOVER MORE OF CREATIVITY ↓
            p.font-weight-regular.
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
              asperior sed tempora ut voluptatum!
            v-img(max-width="200" src="/images/google-play-badge.png")
        
        v-col(
          cols="12"
          sm="12"
          md="6"
          lg="5"
          xl="5"
          class="mt-10 mt-sm-10 mt-md-0 mt-lg-0 mt-xl-0 pb-12  d-flex justify-center align-center"
        )
          v-img(:src="heroImage")
</template>

<script>
export default {
  data: () => ({
    heroImage:
      'https://zamezii-warehouse-test.s3.us-east-2.amazonaws.com/ptmp/site/designer.svg',
    heights: {
      xs: '60vh',
      sm: '65vh',
      md: '70vh',
      lg: '70vh',
      xl: '70vh'
    },
    headerStyle: {
      backgroundImage:
        'url(https://zamezii-warehouse-test.s3.us-east-2.amazonaws.com/ptmp/site/h-bg.svg)',
      backgroundSize: 'cover',
      backgroundPosition: 'bottom'
    }
  }),
  computed: {
    headerHeight() {
      return this.heights[this.$vuetify.breakpoint.name]
    }
  }
}
</script>

<style lang="scss" scoped></style>
