<template lang="pug">
section.services 
    v-container
        h2.font-weight-light.text-center Services
        .d-flex.justify-center.align-center
            v-row.justify-space-between.align-stretch(style="max-width: 95rem")
                v-col(
                    v-for="service in serviceData"
                    :key="service.name"
                    cols="12"
                    sm="6"
                    md="4"
                    lg="4"
                    xl="4"
                )
                    v-card(
                        height="100%" 
                        width="100%" 
                        :style="{border: `2px solid ${service.color}`, borderRadius: '1rem'}"

                    )
                        v-card-title
                            v-row
                                v-col(cols='6')
                                    h4.pb-5.pr-5.text-uppercase(:class="`${service.color}--text`" style="min-width: 110px").
                                        {{service.name}}
                                v-col(cols='6')
                                    v-img(
                                        height="130" 
                                        max-width="150" 
                                        :src="service.imgUrl"
                                    )

                        v-divider
                        v-card-actions some service here
                        v-card-text {{service.name}}        
</template>

<script>
export default {
  data: () => ({
    serviceData: [
      {
        name: 'Screening',
        color: 'green',
        imgUrl:
          'https://zamezii-warehouse-test.s3.us-east-2.amazonaws.com/ptmp/site/camera.svg'
      },
      {
        name: 'Marketing ',
        color: 'blue',
        imgUrl:
          'https://zamezii-warehouse-test.s3.us-east-2.amazonaws.com/ptmp/site/marketing.svg'
      },
      {
        name: 'Poetry',
        color: 'orange',
        imgUrl:
          'https://zamezii-warehouse-test.s3.us-east-2.amazonaws.com/ptmp/site/note.svg'
      }
    ]
  })
}
</script>

<style lang="scss" scoped></style>
