<template lang="pug">
  v-app-bar(
    hide-on-scroll
    flat
    app
    fixed
    elevation="1"
    elevate-on-scroll
    dense
    color="red"
    )
      v-toolbar-title
        router-link.primary--text.display-1.text-uppercase(to="/" exact)
          v-img.pt-3(
            max-width="105" 
            height="90%" 
            src="/logo.png"
          )
      v-spacer
      span.hidden-sm-and-down 
        v-btn(
          v-for="nav in menu" 
          :key="nav.name" 
          color="green"
          text
          exact
          rounded
          :to="nav.to"
        ) {{nav.name}}
        v-btn.ml-2(
            outlined
            color="blue"
            right
            rounded
            :to="{name: 'account'}"
            exact
        ) Sign in

      v-navigation-drawer.mx-auto.overflow-hidden.hidden-md-and-up(
        v-if="drawer"
        v-model="drawer"
        temporary
        absolute
        app
        right
      )
        v-list(nav dense)
          v-list-item-group(
            v-model="group"
            active-class="red--text text--accent-4"
          )
            router-link(v-for="nav in menu" :key="nav.name" :to="nav.to" exact)
              v-list-item {{ nav.name }}

      v-app-bar-nav-icon.hidden-md-and-up(@click="drawer = !drawer")

</template>

<script>
export default {
  name: 'AppNav',
  components: {},
  data() {
    return {
      drawer: false,
      group: [],
      menu: [
        { name: 'About me', to: '/' },
        { name: 'My Work', to: '/' },
        { name: 'Talk to me', to: '/' },
      ],
    };
  },
  watch: {
    group() {
      this.drawer = false;
    },
  },
};
</script>
