<template lang="pug">
footer.footer.black
  v-container
    .d-flex.justify-center.align-center
      v-row.justify-space-between.mx-lg-0.mx-xl-0(style="max-width: 80rem")
        v-col.grey--text.darken-1(
          v-for="content in contents"
            :key="content.title"
            cols="12"
            sm="6"
            md="4"
            lg="3"
            xl="4"
        )
          h4.font-weight-light.text-uppercase {{ content.title }}
          p.hidden-xs-only {{content.text}}
</template>

<script>
export default {
  data() {
    return {
      contents: [
        {
          title: 'The First header',
          text:
            'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, error voluptatibus? Amaiores nostrum omnis porro quaerat quidem ullam veritatis voluptas!'
        },
        {
          title: 'This is the second footer header',
          text:
            'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci doloremque doloribus hic ipsa maxime nulla recusandae saepe temporibus voluptate voluptatem'
        },
        {
          title: 'This is the third and last',
          text:
            'Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque commodi cum deleniti dicta earumfuga itaque molestias? Quae, soluta.'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped></style>
