// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$primary: #fe0006;
$primary-light-1: #ffedea;
$primary-light-2: #ffb2b4;
$primary-light-3: #ff8989;
$primary-dark-1: #fe4247;
$primary-dark-2: #ae0004;

$secondary: #2998ff;
$secondary-light-1: #d5fcff;
$secondary-dark: #5643fa;

@import '~vuetify/src/styles/styles.sass';
