<template lang="pug">
    nuxt-link(v-on="$listeners" v-bind="$attrs" class="button" :class="buttonClass" :to="to")
        slot
</template>

<script>
    export default {
        inheritAttrs: false,
        props: {
            to: {
                type: [Object, String]
            },
            buttonClass: {
                type: String,
                default: ''
            }
        }
    }
</script>

<style lang="scss" scoped>
    .button {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        border: none;
        padding: 0.3rem 0.5rem;
        margin: 0.3rem 0.3rem 0;
        text-align: center;
        font-weight: 300;
        letter-spacing: 1px;
        white-space: nowrap;
        transition: all 0.2s linear;
        font-size: 0.95rem;

        &:active {
            -webkit-transform: scale(1);
            transform: scale(1);
            box-shadow: none;
        }

        &:focus {
            outline: 0;
        }

        &:disabled {
            -webkit-transform: scale(1);
            transform: scale(1);
            box-shadow: none;
        }
    }

    .-icon-right {
        text-align: left;
        padding: 0 20px;
    }

    .-icon-right > .icon {
        margin-left: 10px;
    }

    .-icon-left {
        text-align: right;
        padding: 0 20px;
    }

    .-icon-left > .icon {
        margin-right: 10px;
    }

    .-icon-center {
        padding: 0 20px;
    }

    .-fill-gradient {
        background: linear-gradient(to right, #16c0b0, #84cf6a);
        color: #ffffff;
    }

    .-fill-gray {
        background: rgba(0, 0, 0, 0.5);
        color: #ffffff;
    }

    .-outlined {
        border: 1px solid red;
        border-radius: 5rem;
        padding: 0.3rem 1rem;
        margin: 0.3rem 0.3rem;
        color: red;
        text-transform: uppercase;

        &:hover {
            background: linear-gradient(to right, orange, orangered);
            font-weight: 400;
            color: white;
        }
    }

    .-border-bottom {
        color: red;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid red;
        }
    }
</style>
