<template lang="pug">
    v-app
        v-app-bar(
            :clipped-left="clipped"
            fixed
            app
            color="white"
            hide-on-scroll
            flat
            elevation="1"
            elevate-on-scroll
            dense
        )
            v-toolbar-title
                router-link.primary--text.display-1.text-uppercase(to="/" exact)
                    v-img.pt-3(
                        max-width="105"
                        height="90%"
                        src="/logo.png"
                    )
            v-spacer
            span.hidden-sm-and-down
                base-button.-border-bottom(
                    v-for="nav in menu"
                    :key="nav.name"
                    exact
                    :to="nav.to"
                ) {{nav.name}}
                base-button.-outlined.ml-2(
                    exact
                    :to="{name: 'account-login'}"
                ) Sign in

            v-app-bar-nav-icon.hidden-md-and-up(@click="rightDrawer = !rightDrawer")
        v-content
            v-container.pa-0(fluid)
                nuxt/

        v-navigation-drawer(v-model="rightDrawer" fixed right=true temporary color="primary")
            v-list
                v-list-item(@click.native="right = !right")
                    v-list-item-action
                        v-icon(light) mdi-repeat
                    v-list-item-title Switch drawer (click me)


        //- v-footer(fixed app)
        app-footer

            //- span &copy; {{new Date().getFullYear()}}

</template>

<script>
    import BaseButton from '~/components/atoms/BaseButton.vue'
    import AppFooter from '~/components/Footer.vue'

    export default {
        components: {
            BaseButton,
            AppFooter
        },
        data() {
            return {
                clipped: false,
                drawer: false,
                group: [],
                menu: [
                    {name: 'About me', to: '/'},
                    {name: 'My Work', to: '/'},
                    {name: 'Talk to me', to: '/'}
                ],
                right: true,
                rightDrawer: false,
                title: 'Vuetify.js'
            }
        }
    }
</script>
