<template lang="pug">
    section
        v-container
            v-row
                h2.black--text Account
                v-container
                    nuxt-child
</template>

<script>
    export default {
        name: "account.vue",
    }
</script>

<style lang="scss" scoped>


</style>
