<template lang="pug">
div
  hero 
  cta-posts
  category
  services
   
</template>

<script>
import Hero from '~/components/home/Hero.vue';
import CtaPosts from '~/components/home/CtaPosts.vue';
import Category from '~/components/home/Category.vue';
import Services from '~/components/home/Services.vue';

export default {
  created() {
    this.$store.dispatch('posts/fetchPosts');
    this.$store.dispatch('posts/fetchCategories');
  },
  components: {
    Hero,
    CtaPosts,
    Category,
    Services,
  },
};
</script>

<style lang="scss" scoped></style>
